aiohttp==3.9.4
dateparser
dnspython==2.1.0
word2number
minio==7.1.0
money==1.3.0
msgpack==1.0.2
nltk==3.9.1
numpy==1.24.4
openai
pymongo==4.6.3
redis==3.5.3
tiktoken
urllib3==1.26.17
xxhash==2.0.2
python-magic==0.4.22
dicttoxml